.mainContainer {
    /* background: red; */
    margin: 20px 15px;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    /* box-sizing: border-box; */
    width: 75%;
    text-align: center;
}

.gridItem {
    margin: 0 15px;
    padding: 10px;
    /* border: 2px solid black; */
    font-size: 1.4rem;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    text-align: center;
}

Button.smallButton {
    background: blueviolet;
    margin: 0 10px;
    padding: 2px;
}

MenuItem {
    color: grey;
    font-size: 1rem;
}